body{
  background-color: royalblue;
}

h1{
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  color: white;
}

.leg-grid{
  /* width: 100%; */
  /* width: 100%; */
  margin:20px;
  padding: 10px;
  text-align: center;
  display: inline-grid;
  /* width: 200px; */
  grid-template-columns:  50% 50%;
  grid-template-rows: auto auto auto;
  background-color: darkblue;
  border-radius: 20px;
  /* padding: 10px; */
}

/* .leg-grid-spot{
  padding: 5px;
  margin: 5px;
  text-align: center;
  /* //font-size: 30px; */
/* } */

.selection-button{
  padding: 30px;
  margin: 10px;
  /* width: 80%; */
  aspect-ratio: 1/1;

  /* width: 100% */
  border-radius: 20px;
  border: white;
}

.input-area{
  width: 100%;
  background-color: none;
  display: grid;
  grid-template-columns: auto auto;

}

input[type="range"]{
  transform: rotate(270deg);
margin-top: 50%;
height: 30px;

}

.amount-selection{

  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

#amount{
  font-size: 50px;
  font-family: sans-serif;
  padding-top: 50%;
  width: 80%
  color: white;

}

#take-button{
  margin: 20px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 100px;
  font-family: sans-serif;
  border-radius: 50px;
  border: none;
}

#take-button:active{
  background:violet;
}



.selection-area{
  width: 100%;
text-align:center;
display: inline-block;
margin-left: auto;
margin-right: auto;
 /* display: inline-grid;
  /* grid-template-columns: auto auto; */
}

.past-grid{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.past{
  text-align: center;
  background-color: grey;
  margin: 10px;
  display: inline-block;
}
.past-taking-info{
  display: inline-grid;
  grid-template-columns: auto auto;

}

#past-date{
  font-size: 25px;
}

#past-amount{

  font-size: 50px;
padding: 20px;

  font-family: sans-serif;

}

.past-grid-spot{
  padding: 20px;
  border-radius: 15px;
  aspect-ratio: 1/1;
  background-color: white;
  margin:10px

}

.arrow{
  font-size: 20px;
  padding: 10px;
}

body{
  display: grid;
  text-align: center;

}

.past-super{
display: none;
}

.amount-button{

  /* font-size: 300%; */
  background-color: violet;
  font-color: white;
  border-radius: 20px;
  aspect-ratio: 1/1;
  border: none;
}
